{% load static %}
<section id="footer">
    <style>
        #footer {
           
        }
    </style>
    <footer style="background-color: #081423;">
        <div class="container mt-4">
            <div class="row ">
                <!-- Imobiliaria-->
                <div class="col-md-3 text-white">
                    <h4 class=" mt-4">Imobiliária</h4>
                    <div style="border: #25d366 1px solid; width: 60px; margin: 10px 0 20px 0;" class="separador"></div>
                    <div class="conteudo">
                        <p><b>Horário de Atendimento:</b><br>
                            <i class="fa fa-calendar-check-o"></i> 08:00 AM<br>
                            <i class="fa fa-calendar-minus-o"></i> 18:00 PM
                        <p>
                            Douglas Souza Creci-SC: 033066
                        </p>
                        </p>
                        <!-- <p class="small">Lembramos: Nosso horário de check in é até às 20h30; necessitando chegar após este horário favor combinar antecipadamente para evitar transtornos.</p> -->
                        <p class="small">IMPORTANTE: Horários de finais de semanas, devem ser agendados anteriormente
                            por telefone.</p>
                    </div>
                </div>

                <!-- Explorar -->
                <div class="col-md-3 text-white">
                    <h4 class=" mt-4">Explorar</h4>
                    <div style="border: #25d366 1px solid; width: 60px; margin: 10px 0 20px 0;" class="separador"></div>
                    <li> <a class="text-white" href="{% url 'index' %}">Home</a></li>
                    <li> <a class="text-white" href="{% url 'listar' %}">Imóveis</a></li>
                    <li> <a class="text-white" href="{% url 'sobre' %}">Sobre</a> </li>
                    <li> <a class="text-white" href="{% url 'faleconosco' %}">Fale Conosco</a> </li>
                    <li> <a class="text-white" href="{% url 'anuncieaqui' %}">Anuncie Aqui</a> </li>
                </div>

                <!-- Contato-->
                <div class="col-md-3 text-white">
                    <h4 class="mt-4">Contato</h4>
                    <div style="border: #25d366 1px solid; width: 60px; margin: 10px 0 20px 0;" class="separador"></div>
                    <div class="sconteudo footer_contato">
                        <!-- Localização -->
                        <div class="box box-sidebar"><i class="fa fa-map-marker"></i>
                            <div style="display: inline-block;" class="box box-content  font-weight-bold">
                                <p>
                                    URUBICI – SC /CEP 88650-000
                                </p>
                            </div>
                        </div>
                        <!-- Telefone -->
                        <div class="box box-sidebar"><i class="fa fa-phone"></i>
                            <div style="display: inline-block;" class="box box-content  font-weight-bold">
                                <p>
                                    Douglas-(49) 99187-7867
                                </p>
                            </div>
                        </div>

                        <!-- Whatsapp -->
                        <div class="box box-sidebar"><i class="fa fa-whatsapp"></i>
                            <div style="display: inline-block;" class="box box-content  font-weight-bold">
                                <p>
                                    Douglas-(49) 99187-7867
                                </p>
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="box box-sidebar"><i class="fa fa-envelope"></i>
                            <div style="display: inline-block;" class="box box-content  font-weight-bold">
                                <p>
                                    douglasrodriguesimoveis@gmail.com.br
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Redes Sociais-->
                <div class="col-md-3 text-white">
                    <h4 class=" mt-4">Redes Sociais</h4>
                    <div style="border: #25d366 1px solid; width: 60px; margin: 10px 0 20px 0;" class="separador"></div>
                    <div class="social_footer text-center">
                        <br>
                        <a class="btn btn-outline-light btn-floating m-1"
                            href="https://www.instagram.com/douglasrodriguesimoveis/" role="button"><i
                                class="fab fa-instagram"></i></a>
                        <br>
                        <a class="btn btn-outline-light btn-floating m-1"
                            href="https://www.youtube.com/channel/UCzU8H25rSR--B2rVyMgjZag" role="button"><i
                                class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <hr style="background-color: white;">
            <div class="row">

                <div class="col-md-10">
                    <div class="text-white small">
                        © 2021 - 2022 | Todos os direitos reservados a Douglas Rodrigues Imóveis.
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="text-white small">
                        Desenvolvido por: <a href="https://www.carstenpaulo.com/">Carsten</a></p>
                    </div>
                </div>
            </div>

        </div>
    </footer>
</section>

<div class="footer-container">
    <div class="hui-container" data-tracking-category="footer" data-tracking-view-category="footer" data-block-id="163">
        <div class="footer-content" data-tracking-action="item"> <a href="https://www.globo.com/" title="Globo.com"
                data-tracking-label="globo.com">
                <div class="logo-globocom"> <img
                        src="https://s3.glbimg.com/v1/AUTH_fd78dc4be9404a2e92b908ade306e9e6/prod/footer_svgs/globocom-footer-logo.svg"
                        id="footer-logo" width="134px" height="28px" alt="Logo Globo.com"> </div>
            </a>
            <div class="footer-content--icon"> <img
                    src="https://s3.glbimg.com/v1/AUTH_fd78dc4be9404a2e92b908ade306e9e6/prod/footer_svgs/globocom-footer-icon.svg"
                    alt="Icone Globo" id="footer-icon" width="28px" height="28px"> </div>
            <nav class="footer-navegacao"> <a href="http://g1.globo.com/principios-editoriais-do-grupo-globo.html"
                    data-tracking-label="principios editoriais"> Princípios editoriais </a> <a
                    href="https://www.globo.com/privacidade.html" data-tracking-label="politica de privacidade">
                    Política de privacidade </a> <a href="https://minhaconta.globo.com/"
                    data-tracking-label="minha conta"> Minha conta </a> <a
                    href="http://negocios8.redeglobo.com.br/Paginas/Midia-Kit.aspx"
                    data-tracking-label="anuncie conosco"> Anuncie conosco </a> </nav>
        </div>
        <div class="footer-copyright__container">
            <div class="footer-copyright__container--icon"> <img
                    src="https://s3.glbimg.com/v1/AUTH_fd78dc4be9404a2e92b908ade306e9e6/prod/footer_svgs/globocom-footer-icon.svg"
                    id="footer-icon" width="32px" height="32px" alt="Icone Globo"> </div>
            <div class="footer-copyright__container--text"> © Copyright 2000-2021 Globo Comunicação e Participações S.A.
            </div>
        </div>
    </div>
</div>