{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<title> {% block title %} Anuncie Aqui{% endblock %}</title>

<section id="anuncieaqui" class="py-5">
    <div class="container ">
        <div class="row text-center text-white">
            <div class="col-md-12">
                <h1 class="display-5 mt-4 font-weight-bold">Anuncie Conosco!</h1>
                <p class="lead ">Você possui um imóvel em Urubici e região, gostaria de anunciar conosco?</p>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>
                <li class="breadcrumb-item active"> Anuncios</li>
            </ol>
        </nav>
    </div>
</section>


<div class="container mt-4">
    <p>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Hey!</strong> {{message}}
    </div>
    {% endfor %}
    {% endif %}
    </p>
</div>


<div class="container">
    <section class="text-center">
        <h2 class="display-4 font-weight-bold pt-4 pb-2"> </h2>
    </section>
    <div class="row text-center justify-content-center">
        <div class="col-md-6">
            <p class="font-weight-bold danger"> Entre em contato com a nossa equipe
                </h3>
            </p>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy}}
                <button class="btn btn-primary input-block-level form-control" type="submit">Enviar</a>

            </form>
        </div>
        <br><br>
    </div>
</div>
</section>




<style>
    .asteriskField {
        display: none;
    }

    .map-responsive {
        overflow: hidden;
        padding-bottom: 56.25%;
        height: 0;
    }

    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;

        padding-bottom: 15px;
    }
</style>




{% endblock %}